*{
    margin: 0px;
    padding: 0px;
}
body{
  background-image: url(../image/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#menu{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 200px;
 
 margin-left: 20px;
 margin-right: 20px;
 
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 20px;
}




.input-field {
  width: 10px;
  padding: 10px;
  outline: none;
}
label{
  margin-right: 98px;
}



.btn{
background-color:  rgb(14, 51, 129);
    padding: 15px 20px;
    margin-left: 132px;
    border: none;
    cursor: pointer;
    width: 126px;
    opacity: 0.9;
    color: white;
    margin-top: 30px;
}
.btn:hover{
  background-color: rgb(33, 73, 160);
}
#depid{
  margin-left: 13px;

}
#depname{
  margin-left: -13px
}
#deppass{
  margin-left: -38px;
}
#conpass{
  margin-left: 20px;
}

