@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.main
{
   margin:200px 100px 400px 400px;
}
.para
{
   margin:10px 10px 10px 10px;

}
input{
   font-size: large;
}
body
{
   background-image:url("../image/lgdh.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   font-size:25px;
   height: 100vh;
   position: fixed;
   margin-top: -120px;
   margin-left: -40px;
   
}
.footer
{
    font-size:50px;
	height:50px;
	width:30px;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.left
{
text-align:left;
}